.mclaro {
    max-width: 300px;
    max-height: 150px
}

.mred {
    background-color: rgb(205, 0, 0);
}

.wsvg {
    width: 100%;
    max-height: 50px;
    max-width: 50px;
}

.w-flags {
    max-width: 25px;
}

.icons{
    max-width: 15px;
}

.txt-small {
    font-size: 0.8em;
}

.teams {
    width: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.cardimg {
    width: 10px;
}
